[Unit]
Description=Chat Consumer Service
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/app
EnvironmentFile=-/home/ec2-user/app/consumer.env
ExecStart=/usr/bin/java -Dconsumer.rooms=* -jar /home/ec2-user/app/consumer-v3.jar
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=chat-consumer

[Install]
WantedBy=multi-user.target
