[Unit]
Description=Chat Server Node
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/app
EnvironmentFile=-/home/ec2-user/app/server.env
ExecStart=/usr/bin/java -Dreactor.netty.ioWorkerCount=32 -XX:+UseG1GC -Xms1g -Xmx1g -jar /home/ec2-user/app/server-v2.jar
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=chat-server

[Install]
WantedBy=multi-user.target
